

.navbar {
    background: #0C120C;
    

}


.navbar a:hover {
color: #333; 
}

.nav a {
color: #fff; 
}

.navbar>li {
    position: relative;
    display: block;
}
/*
.navbar-brand img {
    height: 50 px;
    width: 50 px;
    float: left;
    margin-right: 7 px;
}
*/
.img-responsive {
    height: 50 px;
    width: 50 px;
    float: left;
    margin-right: 7 px;
}

